@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Manrope:wght@200&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #F1F1F1;     
}

::-webkit-scrollbar-thumb {
    background-color: #0d9eff;    

}


body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F1F1F1;
}
a{
    text-decoration: none;
    color: white;
}
.a-nav-bar{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 25px;
}
.header-bar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #03202e;
    color: #fff;
    font-size: 16px;
    z-index: 999;
    box-shadow: 2px 2px 4px 0px #00000042;
    display: flex;
    justify-content: center;
}
.header-bar > nav{
    height: 100%;
    width: 100%;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bar > nav ul {
    position: relative;
    display: flex;
    height: 100%;
    list-style: none;
}
.header-bar > nav ul li{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}
.header-bar > nav ul li:hover{

    background-color: #053750;
}
.active{
    border-top:5px solid #11b0ff;
    border-bottom:5px solid #00000000;
}
.cl{
    flex-basis: 0;
    flex-grow: 1;
}
.cl-2{
    flex: 0 0 20.66666%;
    max-width: 20.666666%;
}
.cl-3{
    flex: 0 0 32.66666%;
    max-width: 32.666666%;
}
.cl-4{
    flex: 0 0 40.0000%;
    max-width: 40.000%;
}
.cl-5{
    flex: 0 0  59.7%;
    max-width: 60.666666%;
}
 .cl-6{
    flex: 0 0 60.0000%;
    max-width: 60.000%;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: calc(100vh - 60px);
}
.box{
    display: flex;
    max-width: 1366px;
    width: 100%;
    margin-top: 4rem;
    flex-direction: column;
    row-gap: 1rem;
}
.header-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.btn-padrao{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 500px;
    width: 100%;
    height: 100%;
}
.btn-ancora{
    width: 235px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: self-end;
    align-items: center;
    font-size: 15px;
    background-color: #00a2ff;
    height: 40px;
    border-radius: 25px;
    color: white;
}
.titulo h5{
font-size: 33px;
color: rgba(0, 0, 0);
}
.titulo span{
font-size: 13.5px;
}
.corpo-box{
    display: flex;
    max-width: 1300px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    padding: 33px;
}
.corpo-box-fundo-off{
    display: flex;
    max-width: 1300px;
    width: 100%;
}
.corpo-box-form{
    display: flex;
    max-width: 1300px;
    width: 100%;
}
.component{
    display: flex;
    max-width: 1366px;
    width: 100%;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 30px;
}
.component-sec{
    display: flex;
    max-width: 1366px;
    width: 100%;
    flex-direction: column;
    row-gap: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    padding: 33px;
    border-bottom: 3px solid #2099fc;
}
.component-ter{
    display: flex; 
    position: relative; 
    column-gap: 1rem;
    width: 100%;
}

.editar{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
}
.opacity{
    background-color: rgba(0, 0, 0, 0.486);
    width: 100%;
    height: 100%;
}
.div-grup{
    display: flex;
    max-width: 1366px;
    width: 100%;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-direction: column;
}
.titulo-grupo{
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    width: 100%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.95);
    font-weight: 400;
}
.div-flex {
    display: flex;
    max-width: 1366px;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-between;
}
.div-flex-start{
    display: flex;
    max-width: 1366px;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: start;
}
fieldset{
    border:1px solid #0000003a;
    border-top-left-radius: 25px !important;
    border-radius: 25px;
    position: relative;
    height: 55px;

}
fieldset input{
    position: absolute;
    left: 25px;
    top: -3px;
    width: calc(100% - 50px);
    outline: 0;
    height: 28px;
}
legend{
    margin-left: 1.5rem;
    padding-left: 5px;
    padding-right:5px ;
    font-size: 15px;
}
.i-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 44px;
    top: -12px;
    right: -1px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 25px 25px 0;
    border-top: 1px solid #0000003a;
    border-right: 1px solid #0000003a;
    border-bottom: 1px solid #0000003a;
  }
.div-relativ{
    position: relative;
}
.link-header{
    color: #00aeff;
}
.consulta-table{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.div-tabela {
    width: 100%;
}
.div-tabela table thead {
    background-color: #03202e;
    color: white;
    height: 50px;
}
.div-tabela table thead tr {
   gap: -1rem;
}
.div-tabela table{
    width: 100%;
    text-align: center;
}
.div-tabela table tbody{
    color: rgba(0, 0, 0, 0.85);
    background-color: white;
    border-left:1px solid #00ccff94;
    border-right:1px solid #00ccff94;
}
.div-tabela table tbody tr{
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #00ccff94;
} 
.thead-tr{
background-color: #03202e;
}
th {
font-weight: 500;
}
table{ 
    border-collapse:collapse;
}
.borda-left{
    border-left:1px solid #00ccff94;
    width: 120px;
}
.borda-left span{
    cursor: pointer;
}
.borda-left span svg{
    width: 35px;
    fill: #00a2ff;
}
.lista{
    position: absolute;
    width: calc(100% - 2px);
    border: 1px solid #0000003a;; 
    top: 54px;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 20px;
    z-index: 25;
    border-top: none;
}
.lista li{
    list-style: none;
    padding:5px 15px;
}
.lista li:hover{
    background-color: #00a2ff;
    color: white;
}
.fieldsetativo{
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.none{
    color: rgba(0, 0, 0, 0.4);
}
.none input{
    color: rgba(0, 0, 0, 0.5);
}
.editheader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    background-color: #00a2ff;
    flex-direction: column;
}
.editbody{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.textarea{
    width: 100%;
    height: 150px;
    position: relative;
}
.textarea textarea{
    resize: none;
    margin: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    outline: 0;
    font-size: 14px;

}
.status svg{
    width:18px !important
}