@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Manrope:wght@200&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F1F1F1;
}
a{
    text-decoration: none;
    color: white;
}
.a-nav-bar{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 25px;
}
.header-bar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #03202e;
    color: #fff;
    font-size: 16px;
    z-index: 999;
    box-shadow: 2px 2px 4px 0px #00000042;
    display: flex;
    justify-content: center;
}
.header-bar > nav{
    height: 100%;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bar > nav ul {
    position: relative;
    display: flex;
    height: 100%;
    list-style: none;
}
.header-bar > nav ul li{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}
.header-bar > nav ul li:hover{

    background-color: #053750;
}
.active{
    border-top:5px solid #11b0ff;
    border-bottom:5px solid #00000000;
}
.cl{
    flex-basis: 0;
    flex-grow: 1;
}
.cl-2{
    flex: 0 0 20.66666%;
    max-width: 20.666666%;
}
.cl-3{
    flex: 0 0 32.66666%;
    max-width: 32.666666%;
}
.cl-4{
    flex: 0 0 40.0000%;
    max-width: 40.000%;
}
.cl-5{
    flex: 0 0  59.7%;
    max-width: 60.666666%;
}
 .cl-6{
    flex: 0 0 60.0000%;
    max-width: 60.000%;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: calc(100vh - 60px );
    width: 100vw;

}
.box{
    display: flex;
    max-width: 1366px;
    width: 100%;
    margin-top: 4rem;
    flex-direction: column;
    row-gap: 1rem;
}
.header-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.btn-padrao{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 500px;
    width: 100%;
    height: 100%;

}
.btn-ancora{
    width: 235px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: self-end;
    align-items: center;
    font-size: 15px;
    background-color: #00a2ff;
    height: 40px;
    border-radius: 25px;
}
.titulo h5{
font-size: 33px;
color: rgba(0, 0, 0);
}
.titulo span{
font-size: 13.5px;
}
.corpo-box{
    display: flex;
    max-width: 1300px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    padding: 33px;
}
.component{
    display: flex;
    max-width: 1366px;
    width: 100%;
    flex-direction: column;
    row-gap: 3rem;
}
.div-grup{
    display: flex;
    max-width: 1366px;
    width: 100%;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-direction: column;
}
.titulo-grupo{
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    width: 100%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.95);
    font-weight: 400;
}
.div-flex {
    display: flex;
    max-width: 1366px;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-between;
}
fieldset{
    border:1px solid #0000003a;
    border-radius: 25px;
    position: relative;
    height: 55px;

}
fieldset input{
    position: absolute;
    left: 25px;
    top: -4px;
    width: calc(100% - 50px);
    outline: 0;
    height: 30px;
}
legend{
    margin-left: 1.5rem;
    padding-left: 5px;
    padding-right:5px ;
    font-size: 15px;
}
.i-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 44px;
    top: -12px;
    right: -1px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 25px 25px 0;
    border-top: 1px solid #0000003a;
    border-right: 1px solid #0000003a;
    border-bottom: 1px solid #0000003a;
  }
.div-relativ{
    position: relative;
}
.link-header{
    color: #00aeff;
}

/* .div-flex {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    width: 100%;
}
table tbody{
    color: rgba(0, 0, 0, 0.85);

}
table tbody tr{
    height: 50px;
} */
